<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bxt.fm.mapper.SellerMapper">

    <!--检查是否有此用户名-->
    <select id="existUsername" resultType="com.bxt.fm.pojo.Seller">
        select seller_id from seller where seller_username = #{username}
    </select>

    <!--登录，检查用户名和密码是否正确-->
    <select id="login" resultType="com.bxt.fm.pojo.Seller">
        select seller_id,seller_username,seller_password from seller where seller_username = #{username}
    </select>

    <!--注册，将传入的customer对象的数据存入数据库-->
    <insert id="register">
        insert into seller values(null,#{username},#{password})
    </insert>

    <!--新增店铺信息-->
    <insert id="addStoreInfo">
        insert into store_info values(#{sellerId},null,#{date},null,null)
    </insert>
</mapper>