<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bxt.fm.mapper.StoreInfoMapper">

    <!--修改店铺名称-->
    <update id="updateStoreName">
        update store_info set store_name = #{storeName} where seller_id = #{sellerId}
    </update>

    <!--修改店铺头像-->
    <update id="updateStoreAvatar">
        update store_info set portrait_path = #{picturePath} where seller_id = #{sellerId}
    </update>

    <!--修改店铺封面-->
    <update id="updateStoreCover">
        update store_info set store_cover_picture = #{picturePath} where seller_id = #{sellerId}
    </update>

    <!--查询店铺信息-->
    <select id="getStoreInfo" resultType="com.bxt.fm.pojo.StoreInfo">
        select store_name,opening_date,portrait_path,store_cover_picture from store_info where seller_id = #{sellerId}
    </select>
</mapper>